@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  background-color: white;
  color: black;
}


.linked:hover svg{
  fill : rgb(0, 0, 255)
}

.github:hover svg{
  fill: grey
}

.instagram:hover svg{
  fill: red
}